<app-filter-chips [filters]="filters" (removeFilter)="removeFilter($event)" />
<dx-data-grid
  id="gridContainer"
  [dataSource]="orders"
  keyExpr="ID"
  [showBorders]="true"
  (onOptionChanged)="onOptionChanged($event)"
>
  <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>
  <dxo-header-filter [visible]="showHeaderFilter"> </dxo-header-filter>
  <dxo-search-panel [visible]="true" [width]="240" placeholder="Search...">
  </dxo-search-panel>
  <dxi-column dataField="OrderNumber" [width]="140" caption="Invoice Number">
    <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
  </dxi-column>
  <dxi-column
    dataField="OrderDate"
    alignment="right"
    dataType="date"
    [width]="120"
    [calculateFilterExpression]="calculateFilterExpression"
  >
    <dxo-header-filter [dataSource]="orderHeaderFilter"></dxo-header-filter>
  </dxi-column>
  <dxi-column
    dataField="DeliveryDate"
    alignment="right"
    dataType="datetime"
    format="M/d/yyyy, HH:mm"
    [width]="180"
  ></dxi-column>
  <dxi-column
    dataField="SaleAmount"
    alignment="right"
    format="currency"
    [editorOptions]="{
      format: 'currency',
      showClearButton: true,
      inputAttr: {
        'aria-label': 'Filter cell'
      }
    }"
  >
    <dxo-header-filter
      [dataSource]="saleAmountHeaderFilter"
    ></dxo-header-filter>
  </dxi-column>
  <dxi-column dataField="Employee">
    <dxo-header-filter [dataSource]="employeeHeaderFilter"></dxo-header-filter>
  </dxi-column>
  <dxi-column dataField="CustomerStoreCity" caption="City">
    <dxo-header-filter>
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>
  <dxo-summary [calculateCustomSummary]="calculateSummary">
    <dxi-total-item
      name="OrderNumberSummary"
      showInColumn="OrderNumber"
      summaryType="custom"
      displayFormat="Max: {0}"
    >
    </dxi-total-item>
    <dxi-total-item
      name="SaleAmountSummary"
      showInColumn="SaleAmount"
      summaryType="custom"
      valueFormat="currency"
      displayFormat="Avg: {0}"
    >
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>
